.Auth{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authinput{
    width: 30vw;
    height: 49vh;
    border: 1px black solid;
    border-radius: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
align-items: center;
    text-align: center;
    background: rgba(225, 149, 149, 0.45);
}
.formauth{
    width: 30vw;
    height: 30vh;
    margin-top: -70px;
}
.authp{
    font-size: 18px;
    width: 25vw;
    font-weight: bold;
}
.authbutton{
    width: 120px;
    font-size: 16px;
    margin-top: 20px;
}