.Login{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forming{
    width: 30vw;
    height: 40vh;
    border: 1px black solid;
    border-radius: 90px;
   display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(225, 149, 149, 0.45);
}
.submit{
    width: 100px;
}
.invite{
    font-size: 30px;
    font-weight: bold;
}

.formbutton{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.input{
    width: 340px;
}