.Informations{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fdf7f7;
    font-family: "Crimson Text", serif;
}
.sometext{
    width: 74vw;
}
h2{
    color: #010198;
}
h1{
    color: #67069b;
}
li{
    color: #450354;
    font-size: 17px;
}
ul{
    list-style-type: circle;
    color: #011001;
}
p{
    font-size: 18px;
    color: #450354;
}
h3{
    color: #2b012d;
    font-weight: bold;
}