body{
    overflow-x: hidden;
}
.ImageLOGO{
    width: 60px;
}
.lodo{
    display: flex;
}

.navigator{
    margin-top: 25px;
}
.Header{
    /*width: 100vw;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: #dcb0b0;
}

a{
    margin-left: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: #780891;
    font-family: "Playfair Display", serif;
    font-weight:600;
    font-size: 27px;
}
.Header a[class='active'] {
    color: #910863;
}
button{
    background-color:#ce366b;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    font-size: 18px;
    transition: background-color 0.3s;
    font-family: "Crimson Text", serif;
    border-radius: 20px;

}
button:hover {
    background-color: #ef168a;
}
input{
    background: rgba(120, 8, 145, 0.13);
    width: 320px;
    height: 35px;
    color: #010115;
    /*font-family: Arial;*/
    border-radius: 25px;
    margin-top: 15px;
    font-size: 16px;
    border: 1px #41033c solid;
}
.navigator2{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-top: 25px;
}
.home{
 display: flex;
    width: 20vw;
    justify-content: space-between;
}
.homebutton{
    width: 100px;
    height: 30px;
    font-size: 17px;
}
img{
    width: 30px;
    margin-top: 2px;
}
p, h1, h2, h3, h4, li, input{
    font-family: "Crimson Text", serif;
}