.container {
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.heading {
    color: #780891;
    margin-bottom: 10px;
}

.infoBlock {
    background-color: #f9f9f9;
    border-left: 5px solid #910851;
    padding: 10px;
    margin-bottom: 20px;
}

.recordList {
    list-style: none;
    padding: 0;
}

.recordItem {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.recordDetails {
    margin-bottom: 5px;
}

.button {
    padding: 5px 10px;
    background-color: #f85b81;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.button:hover {
    background-color: #840c94;
}

.hr {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}